.hero {
  height: calc(100vh - 120px);

  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.hamburger {
  background-image: url(../images/hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}

.menu-close {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}

ul {
  a {
    color: white;
    font-size: 27px;
    padding-right: 80px;
    line-height: 46px;
    cursor: pointer;
  }
}
