.hero {
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.hamburger {
  background-image: url(../images/hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}

.menu-close {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}

ul {
  li {
    a {
      color: white;
      font-size: 27px;
      padding-right: 80px;
      line-height: 46px;
    }
  }
}
