/* stylelint-disable */

.flex-container {
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: block;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  @include media(">md") {
    display: flex;
  }
}

.flex-item:nth-of-type(1) { order: 1; }
.flex-item:nth-of-type(2) { order: 2; }
.flex-item:nth-of-type(3) { order: 3; }
.flex-item:nth-of-type(4) { order: 4; }

@include media(">lg") {
  .flex-item:nth-of-type(1) { order: 2; }
  .flex-item:nth-of-type(2) { order: 1; }
}

.carousel {
  background: #fafafa;
  width: 100%;

  .carousel-cell {
    width: 100%;
  }

  .carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.4s;
  }

  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  }
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

body.single-portfolio {
  .portfolio-carousel {
    margin-top: 120px;

    @media (min-width: 1024px) {
      margin-top: 0;
    }
  }
}

.property-slide {
  height: 250px;
  opacity: 0.25;
  transition: opacity 250ms ease-out;

  &.is-selected {
    opacity: 1;
  }

  @media (max-width: 849px) and (min-width: 577px) {
    height: 480px;
  }

  @media (max-width: 1024px) and (min-width: 850px) {
    height: 600px;
  }
}

button.previous {
  position: absolute !important;
  bottom: 0 !important;
  height: 100% !important;
  border-radius: 0 !important;
  width: 0 !important;
  
  svg {
    display: none;
  }

  &::after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: url(../images/arrow-prev.svg);
    background-repeat: no-repeat;
    bottom: 50px;
    left: 25px !important;
    position: absolute;

    @media (min-width: 1024px) {
      left: 34px;
    }
  }
}

button.next {
  position: absolute !important;
  bottom: 0 !important;
  height: 100% !important;
  border-radius: 0 !important;
  width: 0 !important;
  
  svg {
    display: none;
  }

  &::after {
    content: "";
    width: 45px;
    height: 45px;
    background: url(../images/arrow-next.svg);
    background-repeat: no-repeat;
    bottom: 50px;
    right: 25px;
    position: absolute;

    @media (min-width: 1024px) {
      right: 34px;
    }
  }
}

// Misc

.overlay {
  display: none;
}

.miscellaneous:hover .overlay {
  display: inline-block;
}

// Contact

form {
  margin-bottom: 100px !important;

  input,
  textarea {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid white !important;
    margin-bottom: 20px !important;
    outline: none !important;
    width: 100% !important;
    color: white !important;
    font-size: 20px !important;
    line-height: 46px !important;

    @media only screen and (min-width: 1024px) {
      font-size: 20px !important;
    }
  }

  textarea {
    height: 50px !important;
  }

  button {
    border: none !important;
    background-color: #fff !important;
    text-transform: uppercase !important;
    padding: 5px 20px !important;
    float: right !important;
    color: #7a7a75 !important;
    font-weight: lighter !important;
    font-size: 20px !important;
    display: inline-block !important;

    &::after {
      display: inline-block;
      content: "";
      width: 25px;
      height: 15px;
      background: transparent url("../images/submit-arrow.svg") no-repeat;
      background-size: contain;
      background-position: center center;
      margin-left: 15px;
    }
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff !important;
  opacity: 1 !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff !important;
  opacity: 1 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
  opacity: 1 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff !important;
  opacity: 1 !important;
}

span[role="alert"],
div[role="alert"] {
  font-size: 16px;
  color: yellow;
  border: none;
  padding: 0;
  display: block;
}

.wpcf7-response-output {
  margin-top: 100px !important;
  text-align: center;
}

div.wpcf7 .ajax-loader {
  background-image: url("../images/spinner.gif");
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 45px;
}
